.KashCard {
    background-color: white;
    display: flex;
    flex-flow: column;

    .Title {
        font-size: 18px;
        text-align: left;
        padding-left: 14px;
        font-family: SourceHanSansSC-regular;
        border-bottom: #E9E9E9 solid;
    }
    .Content{
        height: 100%;
        flex-grow: 1;
    }
}

.CdcHeader{
    background-color: white;
    display: flex;
    flex-flow: row;
    height: 120px;
    margin-top: 5px;
    margin-left: 14px;
    margin-right: 15px;
}

.ReadOutline{
    height: 100px;
    width: 100px;
}

.FormContainer {
    margin: 14px 24px 0px 27px;
    height: initial;
    background-color: white;
}

.PanelContainer {
    margin-top: -8px;
    background-color: white;
    padding: 0px;
    height: 755px;
    overflow-x: auto;
}

.PathContainer {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 1 auto;
    height: initial;
    margin-top: 12px;
    padding: 0px;
    background-color: white;
}



.RootRow{
    height: calc( 100vh - 65px - 16px );
}

.PathFormContainer {
    margin: 12px 8px;
    overflow-y: hidden;
    position: absolute;
    overflow-x: hidden;
}
.UploadButton{
    position: absolute;
    right:  1vw;
    top: 0.5vh;
    z-index: 10;
}
.show{
    margin-top: -5px;
    margin-right: 8px;
}
.hidden{
    display: none;
}