.Header {
    height: 65px;
    width: 100vw;
    background-color: #232A35;
    color: white;
    display: flex;
    justify-content: space-between;


    .Icon {
        flex-basis: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;
        text-align: left;
        background-color: black;
    }

    .Nav {

        flex-basis: 80%;
        display: flex;
        justify-content: space-between;

        .Menu {
            display: flex;
            height: 100%;

            .Item {
                cursor: pointer;
                
                height: 100%;
                width: 220px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

        }

        .Control {
            .search{
                margin-right: 1em;


            }
            margin-right: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: 14px;
            text-align: left; 
   
            .ico {
                width: 1.25rem;
                height: 1.25rem;
                margin-right: 1em;
            }

            .ava {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .img {
                    width: 1rem;
                    height: 1rem;
                    background-color: white;
                    border-radius: 2rem;
                    margin-right: 9px;
                }

            }


        }
    }





}