.QuaFormRoot {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .Guide {
        width: 60px;
    }

}

.DouFormRoot {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .Guide {
        width: 120px;
    }

}