.personCol{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}
.personHeader{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.click{
    width: 30px;
    height: 40px;
    //background: red;
    margin-top: 4.5%;
    margin-left: 70%;
    cursor: pointer;
}
.picture{
    background: url("../../assets/images/static_map.png") no-repeat;
    height: 420px;
    margin-top: 15px;
    width: 96%;
    margin-left: 2%;
}
.neovis{
    width: 100%;
    border: none;
    background-color:white;
}
.tableContainer{
    overflow-x: auto;
    overflow-y: auto;
    height: 40vh;
}
.Btn {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    background: rgba(102,152,203,1);
    float:right;
 }
 .Btn:active 	{background: #608FBF;} 