.personCol{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
}
.personHeader{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.click{
    width: 30px;
    height: 40px;
    //background: red;
    margin-top: 4.5%;
    margin-left: 70%;
    cursor: pointer;
}
.picture{
    background: url("../../assets/images/static_map.png") no-repeat;
    height: 420px;
    margin-top: 15px;
    width: 96%;
    margin-left: 2%;
}
.neovis{
    width: 100%;
    border: none;
    background-color:white;
}