.KashCard {
    padding: 14px;

    .Title {
        font-size: 18px;
        text-align: left;
        padding-left: 14px;
        font-family: SourceHanSansSC-regular;
        border-bottom: #E9E9E9 solid;
    }


}